
input.input-validation-error{
    color: #721c24;
    
    border-color: #f5c6cb;
}
input.valid{
    color: #155724;
   
    border-color: #c3e6cb;
}

button:hover{
    cursor: pointer;
}

.vbottom{
    position: sticky;
    top: 100%;

}
    
