@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
	@using (Html.BeginForm("AddAdmin", "User", FormMethod.Post,
				new {@class = "login100-form validate-form "}))
			{
				<span class="login100-form-title">
					Registrace
				</span>

				<div class="wrap-input100 validate-input m-b-16"  data-validate="Please enter username">
					
					@Html.TextBoxFor(x => x.FirstName, new {placeholder="Jméno",name = "firstName", @class = "input100"})
					@Html.ValidationMessageFor(x => x.FirstName)
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-16"  data-validate="Please enter password">
					
					@Html.TextBoxFor(x => x.LastName,new {placeholder="Příjmení", name = "lastName", @class = "input100"})
					@Html.ValidationMessageFor(x => x.LastName)
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input m-b-16"  data-validate="Please enter password">
					
					@Html.TextBoxFor(x => x.Login, new {placeholder="Login", name = "login", @class = "input100"})
					@Html.ValidationMessageFor(x => x.Login)
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter password">
					
					@Html.TextBoxFor(x => x.EmailOfUser, new {placeholder="E-mail", name = "emailOfUser", @class = "input100"})
					@Html.ValidationMessageFor(x => x.EmailOfUser)
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input m-b-16"  data-validate="Please enter password">
					
					@Html.PasswordFor(x => x.Password, new {placeholder="Heslo", name = "password", @class = "input100"})
					@Html.ValidationMessageFor(x =>x.Password)
					<span class="focus-input100"></span>
				</div>
				
				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Registrovat
					</button>
				</div>
				<div class="flex-col-c p-t-50 p-b-40">
					
				</div>
			}
