
@using DataContainer.Model

@{
    ViewBag.Title = "titel";
    Layout = "../Shared/_Layout.cshtml";
   }
<h1>Vypis</h1>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="modalContent">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-fill" data-dismiss="modal">Zavřit</button>
            </div>
        </div>
    </div>
</div>


<div class="clearfix pb-3">
   
</div>


<table class="table table-hover" >
    <thead class="">
        <tr class="table-primary">
            <th scope="col">Id</th>
            <th scope="col">Login</th>
            <th scope="col">Role</th>
            <th scope="col">Jméno</th>
            <th scope="col">Smazat</th>

        </tr>
    </thead>
    <tbody class="table-bordered">
    @foreach (User u in ViewBag.Users)
    {
        if (u.Login != User.Identity.Name)
        {

            <tr>
                <th scope="row">


                    @u.Id
                </th>

                <td>
                    @Ajax.ActionLink(u.Login, "Detail", new {id = u.Id},
                        new AjaxOptions
                        {
                            UpdateTargetId = "modalContent",
                            InsertionMode = InsertionMode.Replace, OnBegin = "openModalWindow"
                        })

                </td>

                <td>@u.Role.Description</td>
                <td>@u.LastName @u.FirstName</td>

                <td>
                    <a href="@Url.Action("AdminDelete", "User", new {area = "Admin", id = u.Id})")
                       class="btn border-0">
                        <i class="nc-icon nc-simple-remove"></i>
                    </a>
                </td>

            </tr>
        }
    }
    </tbody>
    
</table>

@if (ViewBag.Pages != null)
{
    <ul class="pagination pagination-sm vbottom">
        @for (int i = 1; i <= ViewBag.Pages; i++)
        {
         
                <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")" aria-current="page">
                    <span class="page-link">
                        @Ajax.ActionLink(i.ToString(), "Index", new {page = i},
                            new AjaxOptions(){InsertionMode = InsertionMode.Replace, UpdateTargetId = "dynamicContent"},
                            new {@class="text-white"})
                    </span>
                </li> 
                
         
            
        }
            
    </ul>  
}


<script type="text/javascript">
    
    $(document).ready(function(){

        $('#datepicker1').datepicker({
            dateFormat: 'dd/MM/yy'
        });
        $("#datepicker2").datepicker({
            dateFormat: 'dd/MM/yy'
        });

    });
    
    function openModalWindow() {
        $('#exampleModal').modal({
            show: true
        });
    }


    function onClickActive() {
        
            $('.activeButton').addClass("active");
        
    }
       


   
    
    
    
    $( function() {
       
 
        $( "#searchBox" ).autocomplete({
            source: function( request, response ) {
                $.ajax( {
                    url: '@Url.Action("SearchWithHelp","Document")',
                    dataType: "json",
                    data: {
                        query: request.term
                    },
                    success: function( data ) {
                        response( data );
                    }
                } );
            },
            minLength: 2,
           
        });
    });
    
    setTimeout(function() {
        $('#alertWindow').fadeOut('slow');
    }, 2000); // <-- time in milliseconds


</script>

