@model DataContainer.Model.User
       
       @{
           ViewBag.Title = "title";
           Layout = "../Shared/_Layout.cshtml";
           
       }
       	@using (Html.BeginForm("AddAdmin", "User", FormMethod.Post,
	           new {@class = "login100-form validate-form "}))
	       {
	           <div class="container ">

                   <div class="row ">
                       <div class="col-md-8">
                           <div class="card">
                               <div class="card-header">
                                   <h4 class="card-title">Přidat záznam</h4>
                               </div>
                               <div class="card-body ">

                                   <div class="row">
                                       <div class="col-md-3 pr-1">
                                           <div class="form-group">
                                               <label>Jméno</label>
                                               @Html.TextBoxFor(x => x.FirstName, new {placeholder = "Jméno", name = "firstName", @class = "form-control"})
                                               @Html.ValidationMessageFor(x => x.FirstName)
                                           </div>

                                       </div>
                                       <div class="col-md-5 pr-1">
                                           <div class="form-group">
                                               <label>Příjmení</label>
                                               @Html.TextBoxFor(x => x.LastName, new {placeholder = "Příjmení", name = "lastName", @class = "form-control"})
                                               @Html.ValidationMessageFor(x => x.LastName)
                                           </div>

                                       </div>

                                   </div>

                                   <div class="row">
                                       <div class="col-md-6 pr-1">
                                           <div class="form-group">
                                               <label>Login</label>
                                               @Html.TextBoxFor(x => x.Login, new {placeholder = "Login", name = "login", @class = "form-control"})
                                               @Html.ValidationMessageFor(x => x.Login)

                                           </div>
                                           <div class="form-group">
                                               <label>Email</label>
                                               @Html.TextBoxFor(x => x.EmailOfUser, new {placeholder = "E-mail", name = "emailOfUser", @class = "form-control"})
                                               @Html.ValidationMessageFor(x => x.EmailOfUser)

                                           </div>

                                       </div>

                                   </div>

                                   <div class="row">
                                       <div class="col-md-6 pr-1">
                                           <div class="form-group">
                                               <label>Heslo</label>
                                               @Html.PasswordFor(x => x.Password, new {placeholder = "Heslo", name = "password", @class = "form-control"})
                                               @Html.ValidationMessageFor(x => x.Password)

                                           </div>
                                       </div>


                                       <button type="submit" class="btn btn-info btn-fill pull-right">Ulozit</button>
                                       <div class="clearfix"></div>

                                   </div>
                               </div>
                           </div>
                       </div>


                   </div></div>


	       } 