@model DataContainer.Model.User

@{
    ViewBag.Title = "title";
    
}

<h2 class="">Detail uživatele @Model.Login</h2>

<div class="clearfix pb-3">
    <a href="@Url.Action("Edit", "User",new {id = Model.Id })") class="btn btn-info btn-fill">
        
        Editace Uživatele
    </a>
</div>

<div class="d-flex bd-highlight mb-3 flex-column">
    <p class="p-1 bd-highlight ">Login : @Model.Login</p>
    <p class="p-1 bd-highlight ">E-mail: @Model.EmailOfUser</p>
    <p class="p-1 bd-highlight ">Jméno uživatele: @Model.LastName @Model.FirstName</p>
    <p class="p-1 bd-highlight ">Role uživatele: @Model.Role.Description</p>

</div>
