@using DataContainer.Model
@model DataContainer.Model.User
@{
    ViewBag.Title = "Uživatel";
    Layout = "../Shared/_Layout.cshtml";
    
}

@Html.HiddenFor(x => x.Id)
@Html.HiddenFor(x=>x.Role.Id)
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="modalContent">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-fill" data-dismiss="modal">Zavřit</button>
            </div>
        </div>
    </div>
</div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Úprava profilu</h4>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-5 pr-1">
                                                <div class="form-group">
                                                    <label>Účet</label>
                                                    <input type="text" class="form-control" disabled placeholder="Company" value="@Model.Login">
                                                </div>
                                            </div>
                                          
                                            <div class="col-md-7 pl-1">
                                                <div class="form-group">
                                                    <label for="exampleInputEmailOfUser1">EmailOfUser address</label>
                                                    <input type="email" class="form-control" disabled placeholder="@Model.EmailOfUser">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 pr-1">
                                                <div class="form-group">
                                                    <label>Jméno</label>
                                                    <input type="text" class="form-control"disabled placeholder="Company" value="@Model.FirstName">
                                                </div>
                                            </div>
                                            <div class="col-md-6 pl-1">
                                                <div class="form-group">
                                                    <label>Přijmení</label>
                                                    <input type="text" class="form-control"disabled placeholder="Last Name" value="@Model.LastName">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-info btn-fill pull-right" >
                                            @Ajax.ActionLink("Upravit profil","Edit",new {id=Model.Id, area="Admin"},
                                                new AjaxOptions{UpdateTargetId = "modalContent", 
                                                    InsertionMode = InsertionMode.Replace,OnBegin = "openModalWindow"},
                                                    new {@class="text-white"})
                                            </button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-user">
                                <div class="card-image">
                                    <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="...">
                                </div>
                                <div class="card-body">
                                    <div class="author">
                                        <a href="#">
                                            <img class="avatar border-gray" src="@Url.Content("~/uploads/"+"user-manager.png")" alt="user_icon">
                                            <h5 class="title">@Model.FirstName @Model.LastName</h5>
                                        </a>
                                        <p class="description">
                                            @Model.Login
                                        </p>
                                        <p class="description">
                                            @Model.Role.Description
                                        </p>
                                    </div>
                                    <p class="description text-center">
                                        </p>
                                </div>
                                <hr>
                                <div class="button-container mr-auto ml-auto">
                                    <button href="#" class="btn btn-simple btn-link btn-icon">
                                        <i class="fa fa-facebook-square"></i>
                                    </button>
                                    <button href="#" class="btn btn-simple btn-link btn-icon">
                                        <i class="fa fa-twitter"></i>
                                    </button>
                                    <button href="#" class="btn btn-simple btn-link btn-icon">
                                        <i class="fa fa-google-plus-square"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                                                           
<script type="text/javascript">

    function openModalWindow() {
        $('#exampleModal').modal({
            show: true
        });
    }

</script>              
