@model DataContainer.Model.CashFlow

@{
    ViewBag.Title = "title";
    bool z = Model.Earning;

}


@using (Html.BeginForm("Update", "CashFlow", FormMethod.Post, new {enctype="multipart/form-data", id="formForCashFlow"}))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.CategoryOfItem)
    @Html.HiddenFor(x => x.CategoryOfItem1)
    @Html.HiddenFor(x =>x.UserId.Id)

    
    <div class="container ">
        <div class="row " >
            <div class="col-md-8"  >
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Přidat záznam</h4>
                    </div>
                    <div class="card-body " >
                 
                        <div class="row">
                            <div class="col-md-3 pr-1">
                                <div class="form-group">
                                    @Html.RadioButtonFor(x => x.Earning, true,
                                        new {@class = "btn", id = "Earning" })
                                    Prijem
                                </div>

                            </div>
                            <div class="col-md-5 pr-1">
                                <div class="form-group">
                                    @Html.RadioButtonFor(x => x.Earning, false,
                                        new {@class = "btn",id = "Expenditure" })
                                    Vydaj
                                </div>

                            </div>

                        </div>
                            
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                
                                
                                <div class="form-group" id="earnings">
                                    @Html.DropDownList("eaCategoryId",
                                        new SelectList(ViewBag.EaCategories,
                                            "Id", "Note", Model.CategoryOfItem.Id), new {@class = "form-control"})

                                </div>
                                <div class="form-group" id="expenditure" style="display: none">
                                    @Html.DropDownList("exCategoryId",
                                        new SelectList(ViewBag.ExCategories,
                                            "Id", "Note", Model.CategoryOfItem1.Id), new {@class = "form-control"})

                                </div>
                                

                            </div>

                        </div>
                           
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Částka</label>

                                        @Html.TextBoxFor(x => x.Amount, new
                                        {
                                           @class = "form-control"
                                        })
                                        @Html.ValidationMessageFor(x => x.Amount)
                                    </div>
                                </div>
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Datum</label>
                                        @Html.EditorFor(x => x.DateOfPayment,
                                            new 
                                            { htmlAttributes = new {type ="none",autocomplete="off", @class = "datepicker form-control" } })
                                        @Html.ValidationMessageFor(x => x.DateOfPayment)
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Popis</label>
                                        @Html.TextBoxFor(x => x.Note, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(x => x.Note)
                                    </div>
                                </div>
                                
                            </div>


                            <button type="submit" class="btn btn-info btn-fill pull-right">Ulozit</button>
                            <div class="clearfix"></div>
                 
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>

    $(document).ready(function(){

        $('.datepicker').datepicker({
            dateFormat: 'dd/MM/yy'
        });

    });
    
    $(document).ready(function(){
        //When an input with name="YourRadioButtonName" is changed
        var res = $('input:radio[name="eaCategoryId"]:checked').val();
        if (res) {
            $("#earnings").show();                
            $("#expenditure").hide(); 
        } else {
            $("#earnings").hide();
            $("#expenditure").show();
        }
        
        
     
            $('#Earning').change(function(){
                //Check if the A option is checked
                var res = $('input[type="radio"]:checked').val();
                if(res){
                    //If so display A and hide B
                    $("#earnings").show();                
                    $("#expenditure").hide();
                }
                else
                {
                    //Otherwise hide A and display B
                    $("#earnings").hide();
                    $("#expenditure").show();
               
                
                }
            });
        
            $('#Expenditure').change(function(){
                //Check if the A option is checked
                var res = $('input[type="radio"]:checked').val();
                if(!res){
                    //If so display A and hide B
                    $("#earnings").show();               
                    $("#expenditure").hide();
                }
                else
                {
                    //Otherwise hide A and display B
                    $("#earnings").hide();
                    $("#expenditure").show();
               
                }
            });
        
        
        
    });
    
</script>
