@using DataContainer.Model
@model IList<CashFlow>


@{
    
    
    
}
<div class="content">
<div class="container-fluid">
<div class="row ">
    <div class="col-md-3 pb-3">

        <a href="@Url.Action("Create", "CashFlow")"class="btn btn-info btn-fill">+ Přidat nový záznam</a>

    </div>
    <div class="col-md-6 pb-3">

        <button type="button" class="btn btn-fill btn-info" id="toogleFilter">
            Zobrazit moznosti filtrovani
        </button>

    </div>
    <div>
        <button class=" btn btn-info btn-fill">
            @Ajax.ActionLink("Zrusit filtry", "Index", new {},
                new AjaxOptions {UpdateTargetId = "dynamicContent", InsertionMode = InsertionMode.Replace},
                new {@class = "text-white"})

        </button>

    </div>
</div>
<div class="row" style="display: none" id="toogler">
    <div class="col-md-12 pr-1">
        @using (Ajax.BeginForm("Search", new AjaxOptions
        {
            UpdateTargetId = "dynamicContent"
            , InsertionMode = InsertionMode.Replace
        }))
        {
            <div class="py-2">
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <input class="form-control" placeholder="Hledaný výraz" aria-label="Search" name="phrase" id="searchBox">
                    </div>
                    <div class="col-md-6 pr-1">
                        <input type="submit" value="Hledat" class="btn btn-info btn-fill"/>
                    </div>
                </div>

            </div>
        }

    </div>

    <div class="col-md-12 pr-1">
        Filtrovat dle kategorie
    </div>
    <div class="col-md-12 pr-1">

        @if (ViewBag.EaCategories != null)
        {
            foreach (EarningCategory dc in ViewBag.EaCategories)
            {
                <div class="p-1 d-inline-flex">
                    <button class=" btn btn-info btn-fill ">
                        @Ajax.ActionLink(dc.Note, "EarningCategory", new {id = dc.Id},
                            new AjaxOptions {UpdateTargetId = "dynamicContent", InsertionMode = InsertionMode.Replace},
                            new {@class = "text-white"})

                    </button>
                    
                </div>
                 
               
            }
        }
        @if (ViewBag.ExCategories != null)
        {
            foreach (ExpenditureCategory dc in ViewBag.ExCategories)
            {
                <div class="p-1 d-inline-flex">
                    <button class=" btn btn-info btn-fill">
                        @Ajax.ActionLink(dc.Note, "ExpenditureCategory", new {id = dc.Id},
                            new AjaxOptions {UpdateTargetId = "dynamicContent", InsertionMode = InsertionMode.Replace},
                            new {@class = "text-white"})
                    </button>
                </div>
            }
        }

    </div>
    <div class="col-md-12">
        @using (Ajax.BeginForm("FilterByDate", new AjaxOptions
        {
            UpdateTargetId = "dynamicContent"
            , InsertionMode = InsertionMode.Replace
        }))
        {
            <div class=" py-4">
                <div class="row">
                    <div class="col-md-4 pr-1">
                        <input class="form-control" aria-label="Search" placeholder="Od" name="startDate" id="datepicker1" autocomplete="off">
                    </div>
                    <div class="col-md-4 pr-1">
                        <input class="form-control" aria-label="Search" placeholder="Do" name="endDate" id="datepicker2" autocomplete="off">
                    </div>
                    <div class="col-md-4 pr-1">
                        <input type="submit" value="Hledat" class="btn btn-info btn-fill"/>
                    </div>
                </div>

            </div>
        }
    </div>
    <div class="col-md-6 pr-4">
        @using (Ajax.BeginForm("FilterByType", new AjaxOptions
        {
            UpdateTargetId = "dynamicContent"
            , InsertionMode = InsertionMode.Replace
        }))
        {
            <div class=" py-2">
                <div class="row">
                    <div class="col-md-3 pr-1">
                       <button class="btn btn-info btn-fill" type="submit" value="true" aria-label="Search" name="earning">Prijmy</button>
                        
                    </div>
                    <div class="col-md-3 pr-1">
                        <button class="btn btn-info btn-fill" type="submit" value="false" aria-label="Search" name="earning">Vydaje</button>
                      
                    </div>

                </div>

            </div>
        }
    </div>


</div>
<div class="row">
    <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                <h4 class="card-title">Finance</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <th>Částka</th>
                    <th>Kategorie</th>
                    <th>Typ</th>
                    
                    <th>Datum</th>
                    <th>Popisek</th>
                    <th>Upravit</th>
                    <th>Smazat</th>
                    </thead>
                    <tbody>

                    @foreach (CashFlow cashFlow in Model)
                    {
                        <tr >
                            
                            @if (!cashFlow.Earning)
                            {
                                <td>-@cashFlow.Amount Kč</td>
                                <td>@cashFlow.CategoryOfItem1.Note</td>
                                 <td>Výdaj</td>                                 
                            }
                            else
                            {
                                <td>@cashFlow.Amount Kč</td>
                                <td>@cashFlow.CategoryOfItem.Note</td>
                                                                 <td>Příjem</td>
                            }
                            <td>@cashFlow.DateOfPayment.ToShortDateString()</td>
                            <td>@cashFlow.Note</td>
                            
                            <td>
                                <a href="@Url.Action("Edit", "CashFlow", new {id = cashFlow.Id})") class="btn border-0">
                                    <i class="nc-icon nc-simple-remove"></i>

                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Delete", "CashFlow", new {id = cashFlow.Id})") class="btn border-0">
                                    <i class="nc-icon nc-simple-remove"></i>
                                </a>

                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
@if (ViewBag.Pages != null)
{
    <ul class="pagination pagination-sm vbottom">
        @for (int i = 1; i <= ViewBag.Pages; i++)
        {
            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")" aria-current="page">
                <span class="page-link">
                    @Ajax.ActionLink(i.ToString(), "Index", new {page = i},
                        new AjaxOptions() {InsertionMode = InsertionMode.Replace, UpdateTargetId = "dynamicContent"},
                        new {@class = "text-white"})
                </span>
            </li>
        }

    </ul>
}
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#toogleFilter').click( function () {
            $('#toogler').toggle("slow",
                function() {

                });
        });
    });
    
    $(document).ready(function(){

        $('#datepicker1').datepicker({
            dateFormat: 'd. M. yy',
            monthNames: [ "Leden","Únor","Březen","Duben","Květen","Červen",
                "Červenec","Srpen","Září","Říjen","Listopad","Prosinec" ],
            dayNamesMin: [ "Ne", "Po", "Út", "st", "Čt", "Pá", "So" ] ,
            monthNamesShort: ['Le','Ún','Bř','Du','Kv','Čn', 'Čc','Sr','Zá','Ří','Li','Pr'],
            firstDay:1

        });
        $("#datepicker2").datepicker({
            dateFormat: 'd. M. yy',
            monthNames: [ "Leden","Únor","Březen","Duben","Květen","Červen",
                "Červenec","Srpen","Září","Říjen","Listopad","Prosinec" ],
            dayNamesMin: [ "Ne", "Po", "Út", "st", "Čt", "Pá", "So" ] ,
            monthNamesShort: ['Le','Ún','Bř','Du','Kv','Čn', 'Čc','Sr','Zá','Ří','Li','Pr'],
            firstDay:1

        });

    });
    
    setTimeout(function() {
        $('#alertWindow').fadeOut('slow');
    }, 2000); // <-- time in milliseconds

    
    
    
</script>