@model DataContainer.Model.DocumentCategory
@{
    ViewBag.Title = "title";
   
}


@using (Html.BeginForm("AddDocCategory", "Category", FormMethod.Post, new {enctype="multipart/form-data"}))
{
   
 
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Přidat záznam</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Nazev</label>

                                        @Html.TextBoxFor(x => x.Category, new
                                        {
                                            @class = "form-control"
                                        })
                                        @Html.ValidationMessageFor(x => x.Category)
                                    </div>
                                </div>
                            </div>

                            
                           
                            


                            <button type="submit" class="btn btn-info btn-fill pull-right">Vytvořit kategorii</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
             function openModalWindow() {
                 $('#exampleModal').modal({
                     show: true
                 });
             }
</script>
