@using DataContainer.Model
@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Katagorie</h2>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="modalContent">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-fill" data-dismiss="modal">Zavřit</button>
            </div>
        </div>
    </div>
</div>

    
    <div class="row w-100">
        <div class="w-33 p-2 mx-auto">
            <h4>Kategorie dokumentů</h4>
            <div class="py-2">
                @Ajax.ActionLink("Pridat kategorii do dokumentu", "CreateDocCategory",
                    new{area="Admin"}
                    , new AjaxOptions
                    {
                        UpdateTargetId = "modalContent",
                        InsertionMode = InsertionMode.Replace, OnBegin = "openModalWindow"
                    }, new {@class = "btn btn-info btn-fill"})
                
            </div>
            
            <div class="border border-secondary rounded p-2">
                @foreach (DocumentCategory dc in ViewBag.DocCategory)
                {
                    <div>
                        <p class="d-inline-flex w-70">@dc.Category</p>
                        <p class="d-inline-flex w-25">
                            <a href="@Url.Action("DeleteDocCategory", 
                                         "Category",new {id = dc.Id, area = "Admin"})") 
                               class="btn border-0 p-1">
                                <i class="nc-icon nc-simple-remove"></i>
                            </a>
                            
                        </p>

                        
                    </div>
                   
                }
 
            </div>
            

        </div>
        <div class="w-33 p-2 mx-auto">
            <h4>Kategorie příjmů</h4>
            <div class="py-2">
                @Ajax.ActionLink("Pridat kategorii do prijmu", "CreateEaCategory",
                    new{area="Admin"}
                    , new AjaxOptions
                    {
                        UpdateTargetId = "modalContent",
                        InsertionMode = InsertionMode.Replace, OnBegin = "openModalWindow"
                    }, new {@class = "btn btn-info btn-fill"})
                
            </div>
          
            <div class="border border-secondary rounded p-2">
                @foreach (EarningCategory eac in ViewBag.EaCategory)
                {
                    <div>
                        <p class="d-inline-flex w-70">@eac.Note</p>
                        <p class="d-inline-flex w-25">
                            <a href="@Url.Action("DeleteEaCategory", 
                                         "Category",new {id = eac.Id, area = "Admin"})") 
                               class="btn border-0 p-1">
                                <i class="nc-icon nc-simple-remove"></i>
                            </a>
                            
                        </p>

                        
                    </div>
                }
            </div>
            


        </div>
        <div class="w-33 p-2 mx-auto">
            <h4>Kategorie výdajů</h4>
            <div class="py-2">
                @Ajax.ActionLink("Pridat kategorii do vydaju", "CreateExCategory",
                    new{area="Admin"}
                    , new AjaxOptions
                    {
                        UpdateTargetId = "modalContent",
                        InsertionMode = InsertionMode.Replace, OnBegin = "openModalWindow"
                    }, new {@class = "btn btn-info btn-fill"})  
                
            </div>
           
            <div class="border border-secondary rounded p-2">
                @foreach (ExpenditureCategory exc in ViewBag.ExCategory)
                {
                    <div>
                        <p class="d-inline-flex w-70">@exc.Note</p>
                        <p class="d-inline-flex w-25">
                            <a href="@Url.Action("DeleteExCategory", 
                                         "Category",new {id = exc.Id, area = "Admin"})") 
                               class="btn border-0 p-1">
                                <i class="nc-icon nc-simple-remove"></i>
                            </a>
                            
                        </p>

                        
                    </div>
                }

            </div>
           

        </div>
       




    </div>
    
    
    
    
<script type="text/javascript">
    function openModalWindow() {
        $('#exampleModal').modal({
            show: true
        });
    }
    
    setTimeout(function() {
        $('#alertWindow').fadeOut('slow');
    }, 2000); // <-- time in milliseconds
</script>