﻿@using System.Globalization
@using DataContainer.Model
@model Tuple<User,double,double>

@{

}

<h2>
    Vitejte @Model.Item1.FirstName @Model.Item1.LastName  
</h2>




            <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="header">
                                <h3 class="title">Příjmy a výdaje</h3>
                                <h4 class="category">Celkové příjmy a výdaje</h4>
                            </div>
                            <div class="content">
                                <img src="@Url.Action("ChartForCashFlow","Home")" alt="Char"
                                     class="img-fluid img-thumbnail"/>
                                <img src="@Url.Action("ChartForCashFlow2","Home")" alt="Char"
                                     class="img-fluid img-thumbnail"/>
                               
                            </div>
                        </div>
                    </div>

                </div>



                <div class="row">
                    <div class="col-md-6">
                        <div class="card container">
                           
                            <h4 class="title">Statistiky pro tento mesic</h4>
                            <h5>Vaše cashflow od počátku</h5>
                            <p class="category">@Model.Item2.ToString(CultureInfo.InvariantCulture) Kč</p>
                                
                           
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card container">
                           
                            <h4 class="title">Celkove statistiky</h4>
                            <h5>Vaše cashflow pro tento měsíc</h5>
                            <p class="category">@Model.Item3.ToString(CultureInfo.InvariantCulture) Kč</p>
                                
                           
                        </div>
                    </div>

                </div>
            </div>
        </div>