﻿@using DataContainer.Model
@using WebApplication3.Class
<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Správa domácích financí</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <script src=@Url.Content("~/Scripts/jquery-3.0.0.js")></script>
    <script src=@Url.Content("~/Scripts/jquery-ui-1.12.1.js")></script>
    <script src=@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")></script>
    <script src=@Url.Content("~/Scripts/MicrosoftAjax.js")></script>
    <script src=@Url.Content("~/Scripts/MicrosoftMvcAjax.js")></script>
    
    <link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href=@Url.Content("~/Content/bootstrap.min.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/light-bootstrap-dashboard.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/offcanvas.css") rel="stylesheet" />
    
    <link href=@Url.Content("~/Content/themes/base/jquery-ui.min.css")/>
    
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-image="@Url.Content("~/uploads/sidebar-5.jpg")">

            <div class="sidebar-wrapper">
                <div class="logo p-4 font-weight-bold ">
                    Dnes je
                    <script>
                        document.write(new Date().toLocaleDateString())
                    </script>
                </div>
                <ul class="nav">
                    <li>
                        <a class="nav-link" href="@Url.Action("AdminIndex","Home")">
                            <i class="nc-icon nc-chart-pie-36"></i>
                            <p> Domů </p>
                        </a>
                        
                    </li>
                    <li>
                        <a class="nav-link" href="@Url.Action("Index", "User", new {area = "Admin"})">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Účet</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="@Url.Action("AdminIndex", "User", new {area = "Admin"})">
                            <i class="nc-icon nc-notes"></i>
                            <p>Správa uživatelů</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="@Url.Action("Index", "Category", new {area = "Admin"})">
                            <i class="nc-icon nc-notes"></i>
                            <p>Správa kategorii</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="@Url.Action("AdminAdd", "User", new {area = "Admin"})">
                            <i class="nc-icon nc-notes"></i>
                            <p>Přidání admina</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class=" container-fluid  ">
          
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="@Url.Action("Logout","Login", new{area=""})" class="nav-link">
                                    <i class="nc-icon nc-button-power"></i>
                                    <span class="d-lg-block">&nbsp;Odhlasit se 
                                   
                                        </span>
                                </a>
                            </li>
                          </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content" id="dynamicContent">
                <div id="alertWindow">
                    @if (TempData["message-success"] != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <h4 class="alert-heading">Úspěch!</h4>
                            <p>@TempData["message-success"]</p>
                        </div>
                    }
                    @if (TempData["message-failed"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <h4 class="alert-heading">Pozor!</h4>
                            <p>@TempData["message-failed"]</p>
                        </div>

                    }

                </div>
               


                @RenderBody()

            </div>
            <footer class="footer">
                <div class="container">
                    <nav>
                 
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="http://www.creative-tim.com"/>
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
    <!--   -->
    <!-- <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>

        <ul class="dropdown-menu">
			<li class="header-title"> Sidebar Style</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger">
                    <p>Background Image</p>
                    <label class="switch">
                        <input type="checkbox" data-toggle="switch" checked="" data-on-color="primary" data-off-color="primary"><span class="toggle"></span>
                    </label>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger background-color">
                    <p>Filters</p>
                    <div class="pull-right">
                        <span class="badge filter badge-black" data-color="black"></span>
                        <span class="badge filter badge-azure" data-color="azure"></span>
                        <span class="badge filter badge-green" data-color="green"></span>
                        <span class="badge filter badge-orange" data-color="orange"></span>
                        <span class="badge filter badge-red" data-color="red"></span>
                        <span class="badge filter badge-purple active" data-color="purple"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="header-title">Sidebar Images</li>

            <li class="active">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-1.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-3.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="..//assets/img/sidebar-4.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-5.jpg" alt="" />
                </a>
            </li>

            <li class="button-container">
                <div class="">
                    <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard" target="_blank" class="btn btn-info btn-block btn-fill">Download, it's free!</a>
                </div>
            </li>

            <li class="header-title pro-title text-center">Want more components?</li>

            <li class="button-container">
                <div class="">
                    <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank" class="btn btn-warning btn-block btn-fill">Get The PRO Version!</a>
                </div>
            </li>

            <li class="header-title" id="sharrreTitle">Thank you for sharing!</li>

            <li class="button-container">
				<button id="twitter" class="btn btn-social btn-outline btn-twitter btn-round sharrre"><i class="fa fa-twitter"></i> · 256</button>
                <button id="facebook" class="btn btn-social btn-outline btn-facebook btn-round sharrre"><i class="fa fa-facebook-square"></i> · 426</button>
            </li>
        </ul>
    </div>
</div>
 -->
</body>
<!--   Core JS Files   -->


<script src=@Url.Content("~/Scripts/core/popper.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/core/bootstrap.min.js") type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src=@Url.Content("~/Scripts/bootstrap-switch.js")></script>
<!--  Chartist Plugin  -->
<script src=@Url.Content("~/Scripts/chartist.min.js")></script>
<!--  Notifications Plugin    -->
<script src=@Url.Content("~/Scripts/bootstrap-notify.js")></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src=@Url.Content("~/Scripts/light-bootstrap-dashboard.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/jquery.validate.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js") type="text/javascript"></script>

<script src=@Url.Content("~/Scripts/my.js") type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

        demo.showNotification();

        
    });
</script>

</html>