@model DataContainer.Model.User

@{
    ViewBag.Title = "title";
   
}


@using (Html.BeginForm("Update", "User", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.HiddenFor(x=>x.Id)
    @Html.HiddenFor(x=>x.Role.Id)
    @Html.HiddenFor(x=>x.Password)
    <h4 class="card-title">Úprava profilu</h4>
                 
    <div class="card-body">
                 
        <div class="row">
            <div class="col-md-5 pr-1">
                <div class="form-group">
                    <label>Účet</label>
                    @Html.TextBoxFor(x => x.Login,new{@class = "form-control",@readonly = "readonly" })
                </div>
            </div>

            <div class="col-md-7 pl-1">
                <div class="form-group">
                    <label>Email address</label>
                    @Html.TextBoxFor(x => x.EmailOfUser,new{@class = "form-control", type="emailOfUser"})
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 pr-1">
                <div class="form-group">
                    <label>Jméno</label>
                    @Html.TextBoxFor(x => x.FirstName,new{@class = "form-control"})
                </div>
            </div>
            <div class="col-md-6 pl-1">
                <div class="form-group">
                    <label>Přijmení</label>
                    @Html.TextBoxFor(x => x.LastName,new{@class = "form-control"})
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-info btn-fill pull-right">Upravit profil</button>
        <div class="clearfix"></div>
    </div>
                    

}