@model DataContainer.Model.User

@{
    ViewBag.Title = "title";
Layout = null;
}

@if (TempData["message-failed"] != null)
{
   
	<div class="alert alert-danger">
		<button type="button" aria-hidden="true" class="close">×</button>
		<span><b> Danger - </b> @TempData["message-failed"]</span>
	</div>
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V8</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->	
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome.min.css">

	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Content/util.css">
	<link rel="stylesheet" type="text/css" href="~/Content/main.css">
	<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
			@using (Html.BeginForm("SignIn", "Register", FormMethod.Post,
				new {@class = "login100-form validate-form p-l-55 p-r-55 p-t-178"}))
			{
				<span class="login100-form-title">
					Registrace
				</span>

				<div class="wrap-input100 validate-input m-b-16"  data-validate="Please enter username">
					
					@Html.TextBoxFor(x => x.FirstName, new {placeholder="Jméno",name = "firstName", @class = "input100"})
					@Html.ValidationMessageFor(x => x.FirstName)
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-16"  data-validate="Please enter password">
					
					@Html.TextBoxFor(x => x.LastName,new {placeholder="Příjmení", name = "lastName", @class = "input100"})
					@Html.ValidationMessageFor(x => x.LastName)
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input m-b-16"  data-validate="Please enter password">
					
					@Html.TextBoxFor(x => x.Login, new {placeholder="Login", name = "login", @class = "input100"})
					@Html.ValidationMessageFor(x => x.Login)
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter password">
					
					@Html.TextBoxFor(x => x.EmailOfUser, new {placeholder="E-mail", name = "emailOfUser", @class = "input100"})
					@Html.ValidationMessageFor(x => x.EmailOfUser)
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input m-b-16"  data-validate="Please enter password">
					
					@Html.PasswordFor(x => x.Password, new {placeholder="Heslo", name = "password", @class = "input100"})
					@Html.ValidationMessageFor(x =>x.Password)
					<span class="focus-input100"></span>
				</div>
				
				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Registrovat
					</button>
				</div>
				<div class="flex-col-c p-t-50 p-b-40">
					
				</div>
			}
			</div>
		</div>
	</div>


<!--===============================================================================================-->
<script src="~/Scripts/jquery-3.0.0.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src=@Url.Content("~/Scripts/jquery.validate.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js") type="text/javascript"></script>
<!--===============================================================================================-->
<!--===============================================================================================-->
	<script src="~/Scripts/popper.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
<!--===============================================================================================-->

</body>
</html>
