@model DataContainer.Model.User
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutForLogin.cshtml";
}

@*using (Html.BeginForm("Add", "Login", FormMethod.Post, new {enctype="multipart/form-data"}))
{
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Registrace</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label>Jmeno</label>
                                       
                                        @Html.TextBoxFor(x => x.FirstName,new{@class = "form-control"})
                                        @Html.ValidationMessageFor(x => x.FirstName)
                                    </div>
                                </div>
                                
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label for="exampleInputEmailOfUser1">Prijmeni</label>
                                      @Html.TextBoxFor(x => x.LastName,new{@class = "form-control"})
                                      @Html.ValidationMessageFor(x => x.LastName)
                                      </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>EmailOfUser</label>
                                        @Html.TextBoxFor(x => x.EmailOfUser,new{@class = "form-control"})
                                        @Html.ValidationMessageFor(x => x.EmailOfUser)
                                    </div>
                                </div>
                          </div>

                            
                            <button type="submit" class="btn btn-info btn-fill pull-right">Registrace</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}*