@model DataContainer.Model.User

@{
    Layout = null;
}

@if (TempData["message-failed"] != null)
{
   
	<div class="alert alert-danger">
		<button type="button" aria-hidden="true" class="close">×</button>
		<span><b> Danger - </b> @TempData["message-failed"]</span>
	</div>
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V8</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->	
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome.min.css">

	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Content/util.css">
	<link rel="stylesheet" type="text/css" href="~/Content/main.css">
	<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
			@using (Html.BeginForm("SignIn", "Login", FormMethod.Post,
				new {@class = "login100-form validate-form p-l-55 p-r-55 p-t-178"}))
			{
				<span class="login100-form-title">
					Přihlášení
				</span>

				<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
					<input class="input100" type="text" name="login" placeholder="Username">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Please enter password">
					<input class="input100" type="password" name="password" placeholder="Password">
					<span class="focus-input100"></span>
				</div>

				<div class="text-right p-t-13 p-b-23">
					
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Přihlásit se
					</button>
				</div>
				<div class="flex-col-c p-t-20 p-b-10">
					<span class="txt1 p-b-4">
						Zapomenute heslo?
					</span>

					<a href="@Url.Action("ResetPssword","Login")" class="txt3">
						Zmenit heslo
					</a>
				</div>
				<div class="flex-col-c p-t-50 p-b-40">
					<span class="txt1 p-b-9">
						Nemáte účet?
					</span>

					<a href="@Url.Action("Index","Register")" class="txt3">
						Vytvořit si účet
					</a>
				</div>
			}
			</div>
		</div>
	</div>


<!--===============================================================================================-->
	<script src="~/Scripts/jquery-3.0.0.js"></script>
<!--===============================================================================================-->
<!--===============================================================================================-->
	<script src="~/Scripts/popper.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
<!--===============================================================================================-->

</body>
</html>
