@using DataContainer.Model
@model IList<DataContainer.Model.Notification>

@{
    ViewBag.Title = "title";
    string dobaSeBlizi = "Blizi se doba splatnosti.";
    string dobaSeUbehla = "Datum splatnosti.";
    DateTime dateTime = new DateTime(DateTime.Now.Year, DateTime.Now.Month,
        DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month));

}

<h4 class="text-muted m-0">
    Vyhledávání upozornění dle data.
</h4>
@using (Ajax.BeginForm("FilterByDate", new AjaxOptions{UpdateTargetId = "dynamicContent"
    ,InsertionMode = InsertionMode.Replace})){
        <div class="container pt-1 pb-4 w-100">
            <div class="row d-inline-flex">
                <div class="">
                    <input class="form-control" aria-label="Search" name="startDate" placeholder="Od" id="datepicker1" autocomplete="off"> 
                </div>
                <div class="">
                    <input class="form-control"  aria-label="Search" name="endDate" placeholder="Do" id="datepicker2" autocomplete="off"> 
                </div>
                <div class="">
                    <input type="submit" value="Hledat" class="btn btn-info btn-fill"/>
                </div>
            </div>
    
        </div>
    }
@if (Model.Count == 0)
{
    <div class="row h-100">
        <div class="col-sm-12 m-auto">
            <h3 class="text-muted text-center align-items-center font-italic">
                Bohužel nemáte žádná upozornění pro obdobi. 
            </h3>
            <h3 class="text-muted text-center align-items-center font-italic">
                @DateTime.Today.ToShortDateString() az @dateTime.ToShortDateString()
            </h3>
        </div>
    </div>
   
}
else
{
    <div class="content">
        <div class="row">
            <div class="col-md-12">
               
                @if (TempData != null)
                {
                    
                    <h3>Upozornění pro období @TempData["aktualni_datum"]</h3> 
                }
                
                   
                


                @foreach (Notification notification in Model)
                {
                    <div class="col-md-6">
                        <div class="alert alert-info alert-with-icon" data-notify="container">

                            <span data-notify="" class="nc-icon nc-notification-70"></span>
                            @if (notification.DateOfPay < DateTime.Today)
                            {
                                <span data-notify="message">
                                    @notification.DateOfPay.ToShortDateString()
                                </span>
                                <span data-notify="message">@dobaSeUbehla @notification.Note</span>}
                            else
                            {
                                <span data-notify="message">
                                    @notification.DateOfPay.ToShortDateString()
                                </span>
                                <span data-notify="message">@dobaSeBlizi: @notification.Note</span>
                            }
                        </div>



                    </div>


                }





            </div>
        </div>
    </div>
    
}


@if (ViewBag.Pages != null)
{
    <ul class="pagination pagination-sm vbottom">
        @for (int i = 1; i <= ViewBag.Pages; i++)
        {
         
            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")" aria-current="page">
                <span class="page-link">
                    @Ajax.ActionLink(i.ToString(), "Index", new {page = i},
                        new AjaxOptions(){InsertionMode = InsertionMode.Replace, UpdateTargetId = "dynamicContent"},
                        new {@class="text-white"})
                </span>
            </li> 
                
         
            
        }
            
    </ul>  
}
<script type="text/javascript">

    $(document).ready(function(){

        $('#datepicker1').datepicker({
            dateFormat: 'dd/MM/yy'
        });
        $("#datepicker2").datepicker({
            dateFormat: 'dd/MM/yy'
        });

        
    });
    setTimeout(function() {
        $('#alertWindow').fadeOut('slow');
    }, 2000); // <-- time in milliseconds
</script>