@using System.Web.UI.WebControls
@using DataContainer.Dao
@using DataContainer.Model
@model DataContainer.Model.Document

@{
    GroupUserDao groupUserDao = new GroupUserDao();
    bool isInGroup = groupUserDao.IsUserInGroup(new UserDao().GetByLogin(User.Identity.Name));

   
}

<h2>Vlozit novy dokument</h2>

    <div class="container-fluid">
        <div class="row">
            <button class="btn btn-fill btn-info col-12"> 
                <a class="text-white" href="@Url.Action("CreateOnlyForUser", "Document",
                                                new {})">Vytvořit pouze pro užvatele</a>
            </button>
            @if (isInGroup)
            {
                <button class="btn btn-fill btn-info col-12 my-2">
                    <a class="text-white" href="@Url.Action("CreatForGroupAndUser", "Document",
                                                    new {})">Vytvořit pro zobrazeni skupiny</a>
                </button>
            }
            

        </div>
    </div>


