﻿
@model DataContainer.Model.Document

@{
    ViewBag.Title = "Detail";
}

<h2 class="">Detail dokumentu @Model.Name</h2>

<div class="clearfix pb-3">
    <a href="@Url.Action("Edit", "Document",new {id = Model.Id })") class="btn btn-info btn-fill">
        <i class="nc-icon nc-simple-add pr-2"></i>
        Editace dokumentu
    </a>
</div>

<div class="d-flex bd-highlight mb-3 flex-column">
    <p class="p-1 bd-highlight ">Jmeno : @Model.Name</p>
    <p class="p-1 bd-highlight ">Datum vložení: @Model.DateOfEstablishment.ToShortDateString()</p>
    <p class="p-1 bd-highlight ">Počáteční datum splatnosti: @Model.DueDate.ToShortDateString()</p>
    <p class="p-1 bd-highlight ">Frekvence plateb: @Model.FrequencyOfPaymentPerYear</p>
    
    <a href="@Url.Content("~/uploads/invoices/" + Model.Type)" class="btn btn-info btn-fill">Stáhnout</a>

</div>

