@model DataContainer.Model.Document

@{
    ViewBag.Title = "title";
   
}

<h2>Editace dokumentu</h2>



@using (Html.BeginForm("Update", "Document", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Type)
    @Html.HiddenFor(x => x.DateOfEstablishment)
    @Html.HiddenFor(x => x.Group.Id)
    
    

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Edit Profile</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label>Nazev</label>

                                        @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(x => x.Name)
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Frekvence plateb za rok</label>
                                        @Html.TextBoxFor(x => x.FrequencyOfPaymentPerYear, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(x => x.FrequencyOfPaymentPerYear)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Datum</label>
                                        
                                        @Html.EditorFor(x => x.DueDate,
                                            new 
                                            { htmlAttributes = new {type = "none",autocomplete="off", @class = "datepicker form-control" } })
                                        @Html.ValidationMessageFor(x => x.DueDate)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        @Html.DropDownList("documentId", 
                                            new SelectList(ViewBag.DocumentCategories,
                                                "Id", "Category",Model.DocumentCategory.Id),
                                            new{@class ="form-control"})
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Obrazek</label>
                                        <input class="form-control-file" type="file" name="image"/>
                                        @if (!string.IsNullOrEmpty(Model.Type))
                                        {
                                            <img class="card-image" src="@Url.Content("~/uploads/invoices/" + Model.Type)"/>
                                        }
                                    </div>
                                </div>
                               
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Ulozit dokument</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>

    $(document).ready(function(){

        $('.datepicker').datepicker({
            dateFormat: 'd. M. yy',
            monthNames: [ "Leden","Únor","Březen","Duben","Květen","Červen",
                "Červenec","Srpen","Září","Říjen","Listopad","Prosinec" ],
            dayNamesMin: [ "Ne", "Po", "Út", "st", "Čt", "Pá", "So" ] ,
            firstDay:1
        });

    });

</script>



