﻿@using DataContainer.Dao
@using DataContainer.Model
@model IList <Document>
@{
    
   }
<h1>Vypis</h1>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="modalContent">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-fill" data-dismiss="modal">Zavřit</button>
            </div>
        </div>
    </div>
</div>


<div class="clearfix pb-3">
    <button class="activeButton btn btn-info btn-fill">
        <i class="nc-icon nc-simple-add pr-2"></i>
        @Ajax.ActionLink("Vlozeni dokumentu", "Create", new {},
            new AjaxOptions
            {
                UpdateTargetId = "modalContent",
                InsertionMode = InsertionMode.Replace, OnBegin = "openModalWindow"
            },new{@class="text-white"})
        
    </button>
   



</div>
<div class="col-md-6 pb-3">

    <button type="button" class="btn btn-fill btn-info" id="toogleFilter">
        Zobrazit moznosti filtrovani
    </button>

</div>
<div class="row" style="display: none" id="toogler">
        @using (Ajax.BeginForm("Search", new AjaxOptions{UpdateTargetId = "dynamicContent"
            ,InsertionMode = InsertionMode.Replace})){
            <div class=" py-4">
                <div class="row">
            <div class="col-md-6 pr-1">
                <input class="form-control" placeholder="Hledaný výraz" aria-label="Search" name="phrase" id="searchBox"> 
            </div>
            <div class="col-md-6 pr-1">
                <input type="submit" value="Hledat" class="btn btn-info btn-fill"/>
            </div>
                </div>
    
            </div>
        }
    @using (Ajax.BeginForm("FilterByDate", new AjaxOptions{UpdateTargetId = "dynamicContent"
    ,InsertionMode = InsertionMode.Replace})){
        <div class="py-4">
            <div class="row">
                <div class="col-md-4 pr-1">
                    <input class="form-control" aria-label="Search" placeholder="Od" name="startDate" id="datepicker1" autocomplete="off"> 
                </div>
                <div class="col-md-4 pr-1">
                    <input class="form-control"  aria-label="Search" placeholder="Do" name="endDate" id="datepicker2" autocomplete="off"> 
                </div>
                <div class="col-md-4 pr-1">
                    <input type="submit" value="Hledat" class="btn btn-info btn-fill"/>
                </div>
            </div>
    
        </div>
    }


        
<div>
    <div>
        @if (ViewBag.Categories != null)
        {
            foreach (DocumentCategory dc in ViewBag.Categories)
            {
                <button class="activeButton btn btn-info btn-fill">
                    @Ajax.ActionLink(dc.Category, "Category", new {id = dc.Id},
                        new AjaxOptions {UpdateTargetId = "dynamicContent",InsertionMode = InsertionMode.Replace,OnBegin = "onClickActive"},
                        new {@class="text-white"})
                    
                    
                </button>
               


            }
        }
        </div>
    
</div>

</div>
<table class="table table-hover" >
    <thead class="">
        <tr class="table-primary">
            <th scope="col">Id</th>
            <th scope="col">Název</th>
            <th scope="col">Frekvence plateb za rok</th>
            <th scope="col">Datum vzniku</th>
            <th scope="col">Datum splatnosti</th>
      
            <th scope="col">Smazat</th>

        </tr>
    </thead>
    <tbody class="table-bordered">
    @foreach (Document d in Model) {
        <tr>
            <th scope="row">
                
               
              @d.Id
            </th>
          
            <td>
                @Ajax.ActionLink(d.Name,"Detail",new {id=d.Id},
                    new AjaxOptions{UpdateTargetId = "modalContent", 
                        InsertionMode = InsertionMode.Replace,OnBegin = "openModalWindow"})

            </td>
            <td>@d.FrequencyOfPaymentPerYear</td>
            <td>@d.DateOfEstablishment.ToShortDateString()</td>
            <td>@d.DueDate.ToShortDateString()</td>
      
            <td>
                <a href="@Url.Action("Delete", "Document",new {id = d.Id })") 
                   class="btn border-0">
                    <i class="nc-icon nc-simple-remove"></i>
                </a>
            </td>
            
        </tr>
    }
    </tbody>
    
</table>

@if (ViewBag.Pages != null)
{
    <ul class="pagination pagination-sm vbottom">
        @for (int i = 1; i <= ViewBag.Pages; i++)
        {
         
                <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")" aria-current="page">
                    <span class="page-link">
                        @Ajax.ActionLink(i.ToString(), "Index", new {page = i},
                            new AjaxOptions(){InsertionMode = InsertionMode.Replace, UpdateTargetId = "dynamicContent"},
                            new {@class="text-white"})
                    </span>
                </li> 
                
         
            
        }
            
    </ul>  
}


<script type="text/javascript">
    
    $(document).ready(function(){

        $('#datepicker1').datepicker({
            dateFormat: 'd. M. yy',
            monthNames: [ "Leden","Únor","Březen","Duben","Květen","Červen",
                "Červenec","Srpen","Září","Říjen","Listopad","Prosinec" ],
            dayNamesMin: [ "Ne", "Po", "Út", "st", "Čt", "Pá", "So" ] ,
           
            firstDay:1

        });
        $("#datepicker2").datepicker({
            dateFormat: 'd. M. yy',
            monthNames: [ "Leden","Únor","Březen","Duben","Květen","Červen",
                "Červenec","Srpen","Září","Říjen","Listopad","Prosinec" ],
            dayNamesMin: [ "Ne", "Po", "Út", "st", "Čt", "Pá", "So" ] ,
           
            firstDay:1

        });

    });
    
    function openModalWindow() {
        $('#exampleModal').modal({
            show: true
        });
    }


    function onClickActive() {
        
            $('.activeButton').addClass("active");
        
    }
       


   
    
    
    
    $( function() {
       
 
        $( "#searchBox" ).autocomplete({
            source: function( request, response ) {
                $.ajax( {
                    url: '@Url.Action("SearchWithHelp","Document")',
                    dataType: "json",
                    data: {
                        query: request.term
                    },
                    success: function( data ) {
                        response( data );
                    }
                } );
            },
            minLength: 2,
           
        });
    });
    
    setTimeout(function() {
        $('#alertWindow').fadeOut('slow');
    }, 2000); // <-- time in milliseconds
    
    $(document).ready(function() {
        $('#toogleFilter').click( function () {
            $('#toogler').toggle("slow",
                function() {

                });
        });
    });


</script>

