@model Tuple<DataContainer.Model.User,DataContainer.Model.Group>

@{
   
}


@using (Ajax.BeginForm("AddUser", new AjaxOptions { HttpMethod = "POST", 
    OnSuccess ="hideModal", OnFailure = "alert('fail')" }))
{
   
     
             
                <div class="d-flex bd-highlight mb-3 flex-column">
                                    <div class="form-group">
                                        <label>Login uzivatele ktereho chete pridat</label>

                                        <input class="form-control" type="text" name="login" 
                                        />
                                        @Html.ValidationMessageFor(x => x.Item1.Login)
                                    </div>
                    
                            <div class="form-group">
                                <label>Skupina</label>
                                @Html.DropDownList("groupId",
                                    new SelectList(ViewBag.Groups,
                                        "Id", "Name"), new {@class = "form-control"})
                            </div>
                      
                                
                   
                           
                            


                    <button type="submit" class="btn btn-info btn-fill pull-right">Pridat uzivatele do skupiny</button>
                    <div class="clearfix"></div>
                 </div>

                          
                      
               
          

}
<script type="text/javascript" >
    function hideModal() {
        $('#exampleModal').modal('hide');
    };
    
</script>