@using DataContainer.Dao
@model DataContainer.Model.Group

@{
    ViewBag.Title = "title";
    
  
}

@using (Html.BeginForm("Add", "Group", FormMethod.Post, new {enctype="multipart/form-data"}))
{
   

    
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Přidat záznam</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Nazev</label>

                                    @Html.TextBoxFor(x => x.Name, new
                                    {
                                        @class = "form-control"
                                    })
                                    @Html.ValidationMessageFor(x => x.Name)
                                </div>
                            </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Popis</label>
                                        @Html.TextBoxFor(x =>x.Note, new
                                        {
                                            @class = "form-control"
                                        })
                                        @Html.ValidationMessageFor(x => x.Note)
                                    </div>
                                </div>
                                
                            </div>
                           
                            


                            <button type="submit" class="btn btn-info btn-fill pull-right">Vytvořit skupinu</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
             function openModalWindow() {
                 $('#exampleModal').modal({
                     show: true
                 });
             }
</script>