@using DataContainer.Model
@model DataContainer.Model.Group

@{
    ViewBag.Title = "title";
  
}

<h2 class="">Detail skupiny @Model.Name</h2>

<h3>Členové</h3>
<hr/>

<div class="d-flex bd-highlight flex-column">
    @foreach (User u in ViewBag.Users)
    {
        <div class="">
            <p class="d-inline-flex w-50">Jméno : @u.LastName @u.FirstName</p>
            <p class="d-inline-flex w-25">Odstranit:  
                <a href="@Url.Action("DeleteUserFromGroup", 
                             "Group",new {userId = u.Id, groupId = Model.Id })") 
                   class="btn border-0 p-1">
                    <i class="nc-icon nc-simple-remove"></i>
                </a></p>            
        </div>
        
        
    }

</div>

