@using DataContainer.Model
@model DataContainer.Model.Group

@{
    ViewBag.Title = "title";
}
<style type="text/css">.size-font-rem { font-size: 1.7rem}</style>

<h2>Dokumenty přístupné skupině @Model.Name</h2>
<hr/>

<div class="d-flex bd-highlight flex-column">
    @foreach (Document d in ViewBag.Documents)
    {
        <div class="border-bottom">
            <div class="row ">
         
                <p class="d-inline-flex col-md-3">@d.Name</p>
                <p class="d-inline-flex col-md-3">@d.DocumentCategory.Category</p>
          
                
                <button class="btn btn-info btn-fill ">
                    <a href="@Url.Content("~/uploads/invoices/" + d.Type)"><i class="nc-icon nc-cloud-download-93 text-white size-font-rem "></i></a>
                </button>
           
            </div>  
            
            
        </div>
        
       
        
        
    }

</div>
