@using DataContainer.Dao
@using DataContainer.Model
@model IList<DataContainer.Model.GroupUser>

@{
    ViewBag.Title = "title";
    GroupUserDao groupUserDao = new GroupUserDao();
    bool isInGroup = groupUserDao.IsUserInGroup(new UserDao().GetByLogin(User.Identity.Name));
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="modalContent">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-fill" data-dismiss="modal">Zavřit</button>
            </div>
        </div>
    </div>
</div>

    
    
<div class="row ">
    <div class="col-md-3 pb-3">
                            
        <a href="@Url.Action("Create", "Group")"class="btn btn-info btn-fill">+ Vytvorit novou skupinu</a>

    </div>
    @if (isInGroup)
    {
        <div class="col-md-3 pb-3">

            @Ajax.ActionLink("Pridat uzivatele do skupiny", "AddUserToGroup",
                null
                , new AjaxOptions
                {
                    UpdateTargetId = "modalContent",
                    InsertionMode = InsertionMode.Replace, OnBegin = "openModalWindow"
                }, new {@class = "btn btn-info btn-fill"})
        </div>

    }    
</div>



              
@if (Model == null)
     {
         <div class="row h-100">
             <div class="col-sm-12 m-auto">
                 <h3 class="text-muted text-center align-items-center font-italic"> Bohužel se nenacházíte v žádné skupině</h3>
             </div>
         </div>
     }
    
   <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h4 class="card-title">Skupiny ve kterých jste členem</h4>
                                    <p class="card-category">Příjmy seřazeny dle data</p>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <th>Jméno skupiny</th>
                                        <th>Popisek skupiny</th>
                                        <th>Pozice</th>
                                        <th>Dokumenty přístupné skupině</th>
                                       
                                        </thead>
                                        <tbody>

                                        @{
                                            System.Diagnostics.Debug.Assert(Model != null, nameof(Model) + " != null");
                                        }
                                        @foreach (GroupUser groupUser in Model)
                                      {
                                          <tr>
                                              <td>@Ajax.ActionLink(groupUser.Group.Name,"Detail",new {id=groupUser.Group.Id},
                                                      new AjaxOptions{UpdateTargetId = "modalContent", 
                                                          InsertionMode = InsertionMode.Replace,OnBegin = "openModalWindow"})
                                                  
                                              </td>
                                              <td>@groupUser.Group.Note</td>
                                              <td> @groupUser.Member.Note</td>
                                              <td>@Ajax.ActionLink("Zobrazit","DetailOfDocuments",new {id=groupUser.Group.Id},
                                                      new AjaxOptions{UpdateTargetId = "modalContent", 
                                                          InsertionMode = InsertionMode.Replace,OnBegin = "openModalWindow"})
                                              </td>
                                              @if (groupUser.Member.Identificator == "adminGroup")
                                              {
                                                  <td>
                                                      <a href="@Url.Action("DeleteGroup", "Group", new {groupId = groupUser.Group.Id})">
                                                          <i class="nc-icon nc-simple-remove"></i>
                                                      </a>
                                                      
                                                  </td>
                                              }

                                          </tr>
                                      }
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

<script type="text/javascript">
    function openModalWindow() {
        $('#exampleModal').modal({
            show: true
        });
    }
    
    setTimeout(function() {
        $('#alertWindow').fadeOut('slow');
    }, 2000); // <-- time in milliseconds
</script>